# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
Some of the key takeaways from this course are
- List Popular languages for Data Science
- List popular libraries for Data Science
- List Data Science tools
- Demonstrate examples of arithmetic operations

Some of the popular Languages that Data Scientists use are:
1. Python
2. R
3. Scale
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Aarav Gadkar